# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
# *.py[cod]

# Logs
logs/

# Reports
reports/

# Jupyter
# .ipynb_checkpoints/

# VS Code
# .vscode/

# OS
.DS_Store
Thumbs.db